html,

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #303030;
    color: #303030;
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: left;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 5px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: 10px;
    border-radius: 5px;
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
}
.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-radius: 5px;
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-radius: 5px;
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
}

.btn-primary {
    background-color: #683024;
    border-color: #683024;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size:16px;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: sans-serif;
    /*background-color: #000;*/
    /*min-height: 100vh;*/
    color: #fff;
}

.login-box, .gambling-box {
    background-color: #ffffff;
    color: #000;
    border-radius: 1rem;
    padding: 2rem;
    width: 450px;
}

.login-box input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

.account-summary {
    margin-top: 2rem;
}

.account-summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.gambling-box {
    text-align: center;
    background-color: #303030;
    color: #fff;
}

.wheel {
    width: 120px;
    height: 120px;
    background: conic-gradient(#683024 0deg 45deg, white 45deg 90deg, #683024 90deg 135deg, white 135deg 180deg, #683024 180deg 225deg, white 225deg 270deg, #683024 270deg 315deg, white 315deg 360deg);
    border-radius: 50%;
    margin: 1rem auto;
}

.spin-btn {
    background-color: #333;
    color: #fff;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.crypto-balance {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
